<div id="contact">
	<h1> Contact Details </h1>
	Language Technologies is based in Canberra, Australia. For further information, contact us through any of the means below:
  	<ul>
  		<table width="200" border="0" cellpadding="5px">
		    <tr>
		        <td>Email:</td>
		        <td><a href="mailto:info@languagetechnologies.com">info@languagetechnologies.com</a></td>
		    </tr>
		    <tr>
		        <td>Tel:</td>
		        <td>+61 (0)2 6292 2048</td>
		    </tr>
		</table>
  	</ul>
	
	<div class="image">
		<%= image_tag("canberra.jpg", :title => "Lake Burley Griffin and Black Mountain Tower") %>
	</div>
</div>
