<div id="privacy">
    <h1>Useful Links</h1>
    <p>
        We have reciprocal links with the following web sites.
    </p><br>
	<h2>Study Abroad</h2>
	<p>
		<a href="http://www.GSEAbroad.com" target="_blank" title="Study Abroad Programs Paris">Study Abroad Programs Paris</a> -
		GSE offers the opportunity to study in Paris for a summer, semester or an entire academic year.
	</p><br>

	<div id="link-info">
		Please contact <a href="mailto:info@languagetechnologies.com">info@languagetechnologies.com</a>
		if you are interested in exchanging links with us.
	</div>
</div>
