<div id="privacy">
    <h1>Useful Links</h1>
    <p>
        We have reciprocal links with the following web sites. 
    </p><br>
	<h2>Study Abroad</h2>
	<p>
		<a href="http://www.GSEAbroad.com" target="_blank" title="Study Abroad Programs Paris">Study Abroad Programs Paris</a> -
		GSE offers the opportunity to study in Paris for a summer, semester or an entire academic year.
	</p><br>
	<h2>Contact Lenses</h2>
    <p>
	<a href="http://www.justlenses.com" target="_blank" title="Contact lenses from justlenses.com">Contact Lenses</a> - 
	For the best prices in contact lenses including Acuvue, Biomedics, Focus, Frequency, FreshLook, 
	O2/Air Optix, Proclear, PureVision, SofLens, Vertex contact lenses as well as other 
	major brands of contact lenses.
    </p>
	<p>
	<a href="http://www.lens.com" target="_blank" title="cheap contact lenses">Cheap Contact Lenses</a> - 
	Lens.com offers a huge online inventory of brand name contact lenses with reasonably priced prices. 
	Services include online order and shipping straight to you.
	</p>
	<p>
	<a href="http://www.contactsamerica.com" target="_blank" title="contact lens">Contact Lens</a> - 
	Contacts America offers discount contact lenses available at low prices straight to the public. 
	Point, click and save.
	</p>
	<p>
	<a href="http://www.1800getlens.com" target="_blank" title="contact lense">Contact Lense</a> - 
	Buy discount contacts online at 1-800-GET-LENS. 
	We carry all major brands of discount contact lenses. 
	With a Huge inventory of contact lenses in stock & great customer service we have 
	the contact lenses you need for less.	<p>
	</p>
	<a href="http://www.eurolens.co.uk" target="_blank" title="contact lens">Contact Lens</a> - 
	We carry all major brands of contact lenses including Acuvue, Biomedics, Focus, Freshlook, 
	as well as hard-to-find specialty lenses such as toric contact lenses, coloured contacts, 
	bifocal contacts, and multifocal lenses.
	</p>
	<p>
	<a href="http://www.123contactlenses.com" target="_blank" title="contact lenses canada">Contact Lenses Canada</a> - 
	123 Contact Lenses is by far the most convenient and affordable choice for refilling 
	your contact lens prescription.
	</p>
	<p>
	<a href="http://www.123lens.com" target="_blank" title="buy contact lens">Buy Contact Lens</a> - 
	123 Lens provides the exact contact lenses prescribed by your eye doctor, in factory sealed vials, 
	at a savings of up to 70% off what you would pay at the retail level.
	</p>
	<p>
	<a href="http://www.20-20contactlenses.com" target="_blank" title="best contact lenses">Best Contact Lenses</a> - 
	20-20 Contact Lenses has slashed prices on over 35 of our most popular contact lenses! 
	Now save even more on top brands like Acuvue, Newvue, and Optima FW. 
	Our goal is to save you TIME & MONEY!
	</p>
	<p>
	<a href="http://www.911lens.com" target="_blank" title="buy contact lens">Buy Contact Lens</a> - 
	No one can bring you better prices on contact lenses than 911LENS. 
	We have a superior record of customer service and consumer satisfaction.  
	Order with confidence from 911LENS!
	</p>
	<p>
	<a href="http://www.acecontactlenses.com" target="_blank" title="contact lenses canada">Contact Lenses Canada</a> - 
	Buy discount contacts online here at Ace Contact Lenses.  
	All major contact lens manufacturers and brands for sale at the lowest prices.
	</p>
	<p>
	<a href="http://www.aesoptics.com" target="_blank" title="best contact lenses">Best Contact Lenses</a> - 
	AES Optics offers discount contact lenses and sunglasses at discount prices.
	</p>
	<p>
	<a href="http://www.allcontactlenses.com" target="_blank" title="contact lenses canada">Contact Lenses Canada</a> - 
	Buy your contacts from All Contact Lenses, where you get more lenses for your money! 
	</p>
	<p>
	<a href="http://www.amerilens.com" target="_blank" title="buy contact lens">Buy Contact Lens</a> - 
	AmeriLens offers great discounts on the contact lenses that you need!
	</p>	

	<div id="link-info">
		Please contact <a href="mailto:info@languagetechnologies.com">info@languagetechnologies.com</a> 
		if you are interested in exchanging links with us.
	</div>
</div>
