<div id="privacy">
    <h1>Privacy Policy</h1>
    <p>
        Language Technologies' privacy policy covers the collection and use of personal information that may 
        be collected by Language Technologies when you interact with us, such as when you visit our website,  
        when you purchase products and services, or when you call our sales or support associates. 
        Please take a moment to read the following to learn more about our information practices,  
        including what type of information is gathered, how the information is used & for what purposes, 
        to whom we disclose the information, and how we safeguard your personal information.
    </p>
    <p>
        Language Technologies is the sole owner of the information collected on this site and will not sell, 
        share, or rent information to others.
    </p>
    <h2>Why we collect personal information ?</h2>
    <p>
        To deliver a superior level of customer service in two ways. 
        Firstly, it enables us to give you convenient access to our products and services and  
        focus on categories of greatest interest to you. In addition, 
        your personal information helps us keep you posted on the latest announcements, 
        updates, special offers, and events that you might like to hear about.
    </p>
    <p>
        Secondly, for statistical purposes we collect information on website activity like the 
        number of users who visit the website, the date and time of the visit, the number of pages viewed,  
        visitor country of origin, the type of web browser used to access the site and the address of the referral website. 
        This information does not identify an individual but provides us with statistics that is used to analyse and 
        improve your experience on our website.
    </p>
    <h2>What information do we collect ?</h2>
    <p>
        There are a number of situations in which your personal information may help us give you better service. 
        At such times, we may collect personal information relevant to the situation, such as your name,  
        mailing address, phone number, email address, and contact preferences; your credit card information and 
        information relating to a support or service issue. We may collect information from time to time for  
        market research purposes - such as your occupation and where you use your computer - 
        to gain a better understanding of our customers and thus provide more valuable service.  
        We also collect information regarding customer activities on our websites. 
        This helps us to determine how best to provide useful information to customers and to understand which 
        parts of our websites and Internet services are of most interest to you.
    </p>
    <p>
        If you use a bulletin board or forum on Language Technologies you should be aware that any information 
        you share is visible to other users. Personally identifiable information you submit to one of these fora can be read,  
        collected or used by other individuals to send you unsolicited messages. Language Technologies is not responsible 
        for the personally identifiable information you choose to submit in these fora.
    </p>
    <h2>Who has access to your information</h2>
    <p>
        Language Technologies takes your privacy very seriously. Be assured that Language Technologies does not 
        sell or rent your contact information to other marketers. There will be times when it may be advantageous for  
        Language Technologies to make certain personal information about you available to companies that Language Technologies 
        has a strategic relationship with or who perform work for Language Technologies to provide products and  
        services to you on our behalf. These companies may help us process information, extend credit, 
        fulfill customer orders, deliver products to you, or provide customer service.  
        These companies are obligated to protect your personal information in accordance with Language Technologies's policies. 
        Without such information being made available, it would be difficult for you to purchase products,  
        have products delivered to you, receive customer service, provide us feedback to improve our products and services, 
        or access certain services, offers, and content on Language Technologies website.
    </p>
    <p>
        At times we may be required by law or litigation to disclose your personal information. 
        We may also disclose information about you if we determine that for national security, law enforcement, 
        or other issues of public importance, disclosure is necessary.
    </p>
    <h2>How we protect your personal information</h2>
    <p>
        Language Technologies takes precautions - including administrative, technical, and physical measures - 
        to safeguard your personal information against loss, theft, and misuse, as well as unauthorised access, 
        disclosure, alteration, and destruction.
    </p>
    <p>
        Language Technologies uses Secure Sockets Layer (SSL) encryption on all web pages where personal 
        information is required. To make purchases from Language Technologies you must use an SSL-enabled browser such as  
        Safari, Netscape Navigator 3.0 or later, Firefox or Internet Explorer. Doing so protects the confidentiality of your 
        personal and credit card information while it is transmitted over the Internet.
    </p>
    <p>
        You can help us by also taking precautions to protect your personal data when you are on the Internet. 
        Change your passwords often using a combination of letters and numbers, and make sure you use a secure web browser.
    </p>
    <h2>Integrity of your personal information</h2>
    <p>
        Language Technologies has safeguards in place to keep your personal information accurate, complete, 
        and up to date for the purposes for which it is used. Naturally, you always have the right to access and  
        correct the personal information you have provided. You can request a copy of your personal information and 
        your interactions with our sales and support agents by contacting us at the email address below.
    </p>
    <h2>What you should know about privacy on the Internet</h2>
    <p>
        Ultimately, you, as an individual, are solely responsible for maintaining the secrecy of your username and 
        passwords and other account information and for the security of and access to your own computer.  
        Always close your browser once you have finished your session. This denies others access to your personal 
        information and correspondence if you share a computer with someone else or are using a computer in a 
        public place like a library or an Internet cafe.
    </p>
    <p>
        Personal information voluntarily disclosed over the Internet can be collected and used by others. 
        If you post personal information in publicly accessible online fora, you may be spammed and/or receive 
        unsolicited messages from other parties. Please be careful and responsible whenever you are using the Internet.
    </p>
    <h2>Our commitment to your privacy</h2>
    <p>
        Language Technologies takes protecting your privacy very seriously. To make sure your personal information 
        is secure, we communicate these guidelines to Language Technologies employees and strictly enforce privacy  
        safeguards within the company. In addition, Language Technologies supports industry initiatives - 
        such as the Online Privacy Alliance and TRUSTe - to preserve privacy rights on the Internet and in all aspects of  
        electronic commerce. Language Technologies does not knowingly solicit personal information from minors or 
        send them requests for personal information.
    </p>
    <p>
        Language Technologies's website has links to the sites of other companies. 
        Language Technologies is not responsible for their privacy practices. 
        We encourage you to learn about the privacy policies of those companies.
    </p>
    <h2>Privacy questions</h2>
    <p>
        If you have questions or concerns about Language Technologies's Privacy Policy 
        please contact us at <a href="mailto:info@languagetechnologies.com">info@languagetechnologies.com</a>.
    </p>
    <p>
        Language Technologies will respond to your enquiry within 30 days.
    </p>
    <p>
        Language Technologies may update its Privacy Policy from time to time. 
        When we change the policy in a material way a notice will be posted on our website along with the updated Privacy Policy.
    </p>
</div>
