<div id="catalog">
	<%= render(:partial => "catalog") %> 
</div>
<% content_for('side_nav') do %>
   <p style="border-bottom: 1px dotted #fff;">Categories</p>
   <%= link_to_remote 'Software', {:update => "catalog", :url => {:controller => 'store', :action => 'shop', :cat => 'Software'}}, 
	:href => url_for(:controller => 'store', :action => 'shop', :cat => 'Software') %> <br>
   <%= link_to_remote 'Teaching material', {:update => "catalog", 
	:url => {:controller => 'store', :action => 'shop', :cat => 'Teaching material'}}, 
	:href => url_for(:controller => 'store', :action => 'shop', :cat => 'Teaching material') %>
<% end %>
